@{
    ViewBag.Title = "A propos";
}
<h2>Personnes de contact</h2>
<h2>Arnaud Anciaux - Gaetan Armici</h2>

<address>
    Henallux<br />
    Rue Joseph Calozet, 19 <br />
    B-5000 Namur <br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.facebook.com/gaetan.armici?fref=ts">Gaetan@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.facebook.com/arnaud.anciaux.7">Arnaud@gmail.com</a>
</address>