@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenue !</h1>
    <p><br /><br />
    </p>
    <p><a href="/VisiteMedicales/create" class="btn btn-primary btn-lg">Encoder une visite médicale &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consulter les visites médicales passées</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="/VisiteMedicales/index">Afficher les visites</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consulter les examens pratiqués</h2>
        <p></p>
        <p><a class="btn btn-default" href="/ExamenPratiques/index">Afficher les examens</a></p>
    </div>
    <div class="col-md-4">
        <h2>A propos</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more</a></p>
    </div>
</div>
